# Build/tool directories
/.direnv
/buck-out
__pycache__

# Your personal configuration files
.envrc
.envrc.local
.buckconfig.local
CLAUDE.local.md

# Various junk
*.pending-snap
.gdb_history
*.qbit
*.data
