# Build/tool directories
/.direnv
/buck-out
__pycache__

# Your personal configuration files
.envrc.local
.buckconfig.local
CLAUDE.local.md
.claude/settings.local.json

# Various junk
*.pending-snap
.gdb_history
*.qbit
*.data

# Due to bugs, apparently ra/cargo/rustc create various
# bogus lock files; the only one that should exist is in
# buck/third-party/rust -- stop them from wreaking havoc
Cargo.lock
